@mixin container {
	width: calc(100vw - 30px);
	max-width: 1100px;
   margin-left: auto;
   margin-right: auto;
   @media (min-width: $desktop-width) {
      width: calc(100vw - 60px);
   }
}

@mixin inner-flex-column {
   height: 100%;
   // max-height: calc(100vh - 138px); //72+46
   display: flex;
   flex-direction: column;
   justify-content: center;
}
