.social-menu {
   margin: 0;
   padding: 0;
   list-style: none;
   // display: flex;
   // justify-content: center;
   // align-items: center;
   display: inline-block;
   
   li {
      display: inline;
      padding: 0;
      margin: 0 4px;
      font-size: 0;
      line-height: 0;
   }
   a {
      margin: 0;
      padding: 0;
      text-decoration: none;
      outline: none;
   }
   .ml-24 {
      margin-left: 24px;
   }
}

.social-icon {
   width: 25px;
   height: 25px;
   // max-width: 25px;
   max-height: 20px;
}