/* Burger */
.burger {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 36px;
   height: 36px;
   cursor: pointer;
   position: relative;

   .burger__inner,
   .burger__inner::before,
   .burger__inner::after {
      background: $color__burger;
      width: 24px;
      height: 2px;
      position: absolute;
   }

   .burger__inner {
      display: block;
      top: 50%;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }

   .burger__inner::before,
   .burger__inner::after {
      content: "";
      display: block;
   }
   .burger__inner::before {
      top: -8px;
      -webkit-transition: top 0.2s 0.3s ease, opacity 0.2s ease;
      transition: top 0.2s 0.3s ease, opacity 0.2s ease;
   }
   .burger__inner::after {
      bottom: -8px;
      -webkit-transition: bottom 0.2s 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
}
/* Burger menu open */
.burger-menu-open .burger {
   
   .burger__inner {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .burger__inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.4s ease, opacity 0.1s 0.2s ease;
   }

   .burger__inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.2s 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
}

/* Burger dark background */
.bg-dark .burger,
.section-1-activ .burger {
   .burger__inner,
   .burger__inner::before,
   .burger__inner::after {
      background: $gold;
   }
}

/* Burger menu */
.burger-menu-button {
   margin: 0;
   padding: 0;
   border: none;
   background: transparent;
   background-color: transparent;
   overflow: hidden;
   outline: none;
   box-shadow: none;
   z-index: 99;
}

.burger-menu {
   width: 100%;
   transition: all 0.6s ease-in;
   display: block;
   overflow: hidden;
   max-height: 0px;
   ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      background: $background-dark;
      color: #fff;
   }
   li {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      padding: 1em 0;
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   }
   a {
      text-decoration: none;
      outline: none;
   }
}

/* Burger menu open */
.burger-menu-open .burger-menu {
   max-height: 200px;
}
